<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>level</key>
		<string>3</string>
		<key>maxPrice</key>
		<string>25</string>
		<key>minPrice</key>
		<string>10</string>
		<key>name</key>
		<string>Moonshine</string>
		<key>sortOrder</key>
		<string>1</string>
	</dict>
	<dict>
		<key>level</key>
		<string>3</string>
		<key>maxPrice</key>
		<string>100</string>
		<key>minPrice</key>
		<string>30</string>
		<key>name</key>
		<string>Rum</string>
		<key>sortOrder</key>
		<string>2</string>
	</dict>
	<dict>
		<key>level</key>
		<string>2</string>
		<key>maxPrice</key>
		<string>450</string>
		<key>minPrice</key>
		<string>45</string>
		<key>name</key>
		<string>Gin</string>
		<key>sortOrder</key>
		<string>3</string>
	</dict>
	<dict>
		<key>level</key>
		<string>3</string>
		<key>maxPrice</key>
		<string>130</string>
		<key>minPrice</key>
		<string>50</string>
		<key>name</key>
		<string>Vodka</string>
		<key>sortOrder</key>
		<string>4</string>
	</dict>
	<dict>
		<key>level</key>
		<string>2</string>
		<key>maxPrice</key>
		<string>225</string>
		<key>minPrice</key>
		<string>75</string>
		<key>name</key>
		<string>Whiskey</string>
		<key>sortOrder</key>
		<string>5</string>
	</dict>
	<dict>
		<key>level</key>
		<string>2</string>
		<key>maxPrice</key>
		<string>350</string>
		<key>minPrice</key>
		<string>100</string>
		<key>name</key>
		<string>Wine</string>
		<key>sortOrder</key>
		<string>6</string>
	</dict>
	<dict>
		<key>level</key>
		<string>1</string>
		<key>maxPrice</key>
		<string>1400</string>
		<key>minPrice</key>
		<string>500</string>
		<key>name</key>
		<string>Scotch</string>
		<key>sortOrder</key>
		<string>7</string>
	</dict>
	<dict>
		<key>level</key>
		<string>1</string>
		<key>maxPrice</key>
		<string>3000</string>
		<key>minPrice</key>
		<string>1500</string>
		<key>name</key>
		<string>Champagne</string>
		<key>sortOrder</key>
		<string>8</string>
	</dict>
</array>
</plist>
